@mixin minMedium {
    @media (min-width: 992px) {
        @content;
    }
}

/// Overlay Mixin

@mixin overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Prefixes

@mixin prefixer($prop, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $prop}: $value;
    }
    #{$prop}: $value;
}

// animation mixin
@mixin keyFrame($animation-name){
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}  